{% extends "base.html" %}
{% block content %}

{% if appointments %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Tutor</th>
            <th scope="col">Date</th>
            <th scope="col">Book</th>
        </tr>
    </thead>
    
    {% for appointment in appointments %}
    <tbody>
      <tr>
        <th><a href="{% url 'booking:tutor' appointment.tutor.id %}">{{appointment.tutor}}</a></th>
        <td>{{appointment.date|date:"D, d M"}}</td>
        <td><a class="btn btn-primary" href="{% url 'booking:book-appointment' appointment.id %}" role="button">{{appointment.slot}}</a></td>
      </tr>
    </tbody>
    {% endfor %}
</table>
{% else %}
    <p>No available appointments. Sorry!</p>
{% endif %}


{% comment %} {% if appointments %}
{% for slot in appointments %}
<div class="card text-center">
  <div class="card-header">
    {{slot.day|date:"D, d M"}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Mr {{slot.tutor|title}}</h5>
    <p class="card-text">Science</p>
    <a href="#" class="btn btn-primary">{{slot.time}}</a>
  </div>
</div>
{% endfor %}
{% else %}
    <p>No available appointments. Sorry!</p>
{% endif %} 

{% endcomment %}


{% endblock content %}