{% extends "base.html" %}
{% block content %}

<div class="row row-cols-1 row-cols-md-5 mt-3 text-center">
    {% for day in days %}
    <div class="col">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-white bg-primary border-primary">
                    <a href="{% url 'booking:create_appointments' day.date %}" class="btn btn-lg btn-outline-light shadow-lg mb-2"><h4 class="my-0 fw-normal">{{ day.weekday }}</h4>
                    <h5 class="card-title pricing-card-title">{{ day.date }}<small class="text-muted fw-light"></small></h5>
                    </a>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                    {% for data in day.data %}
                        {% if data.appoint_booked %}
                        <a href="{% url 'booking:delete_appointment' day.date data.appoint_slot %}" class="btn btn-md d-grid btn-success shadow-lg mb-2">Booked {{ data.appoint_slot }}</a>
                        {% else %}
                        <a href="{% url 'booking:delete_appointment' day.date data.appoint_slot %}" class="btn btn-sd d-grid btn-outline-secondary shadow-lg mb-2">{{ data.appoint_slot }}</a>
                        {% endif %}

                    {% empty %}
                    <h6>You have not scheduled any appointment for this day.</h6>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock content %}


