{% extends "base.html" %}
{% block content %}

<h4>Mr {{user|title}}</h4>

{% if appointments %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Day</th>
            <th scope="col">Date</th>
            <th scope="col">Book</th>
        </tr>
    </thead>
    {% for appointment in appointments %}
    <tbody>
      <tr>
        <td>{{appointment.date|date:"l"}}</td>
        <td>{{appointment.date|date:"d M"}}</td>
        <td><a class="btn btn-primary" href="{% url 'booking:book-appointment' appointment.id %}" role="button">{{appointment.slot}}</a></td>
      </tr>
    </tbody>
    {% endfor %}
</table>
    {% else %}
    <p>No available appointments. Sorry!</p>
    {% endif %}
{% endblock content %}